* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

a {
    text-decoration: none;

}

/* NAVIGATION BAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding-top: 15px;
}

.logo img {
    height: 80px;
}

.links i {
    font-size:2.1rem ;
    padding: 0 10px;
    color: rgba(255, 255, 255, 0.904);
}

header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.466)),
        url(images/bg-picture.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* HERO BOX  */
.hero-box {
    text-align: center;
    margin-top: 200px;
}

.hero-box p {
    font-size: 2.1rem;
    color: rgba(255, 255, 255, 0.76);


}

/* PRODUCTS HEADER */
.products-header h1 {
    text-align: center;
    font-weight: 600;
    margin-top: 30px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-bottom: 80px;
}

.products-grid {
    width: 25%;
    margin: 0 5px;
}

.products-grid img {
    width: 280px;
    height: 320px;
    object-fit: contain;
    padding: 10px 0;
    flex-wrap: wrap;
}

.products-grid a {
    text-decoration: none;
    color: black;
    display: inline-block;
    margin: 5px 0;
    border: 1px solid black;
    padding: 10px 35px;
}

.products-grid a:hover {
    padding: 10px 40px;
}

.products-grid p {
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.shop-more {
    text-align: center;

}

.shop-more a {
    color: rgba(255, 255, 255, 0.808);
    font-size: 1.2rem;
    border: 1px solid none;
    padding: 10px 30px;
    background-color: orangered;
    display: inline-block;
    margin-bottom: 20px;
}

/* FOOTER */
footer {
    min-height: 300px;
    background: #000000c9;
}

.footer-box {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    color: white;
}

.footer-links a {
    color: white;
    padding: 5px 0;

}

/* Mobile Navigation */
.toggleButton i {
    font-size: 2rem;
}

.toggleButton {
    display: none;
}

.mob-nav a {
    color: rgb(248, 248, 247);
    text-decoration: none;
    font-size: 1.8rem;
    padding: 10px 15px;
}

.mob-nav {
    display: none;
    position: absolute;
    right: 3.5rem;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.404);
    backdrop-filter: blur(15px);
    overflow: hidden;
    height: 0px;
}

.mob-nav.open {
    height: 200px;
    padding: 10px 30px;
    width: 200px;

}


/* MEDIA QUERIES */





/* Media query 2 */

@media (max-width: 767.98px) {
    .links {
        display: none;
    }

    .toggleButton {
        display: block;
    }

    .footer-map {
        display: none;
    }

    .hero-box {
        margin-top: 100px;
    }

    .hero-box p {
        font-size: 1.9rem;
    }

    /* PRODUCTS HEADER */

    .products {
        display: block;
        align-items: center;
        width: 80%;
        margin: auto;
        margin-bottom: 80px;
    }

    .products-grid {
        width: 100%;
        margin: 0 5px;
        text-align: center;
    }

    .products-grid img {
        width: 300px;
    }

    .shop-more a {
        font-size: 15px;
        padding: 10px 30px;
        margin-bottom: 20px;
    }
   




}













/* Query media 3 */
@media (max-width: 991.98px) {

    .hero-box {
        margin-top: 170px;
    }

    .hero-box p {
        font-size: 2.2rem;
    }

    /* PRODUCTS HEADER */

    .products {
        display: block;
        align-items: center;
        width: 80%;
        margin: auto;
        margin-bottom: 80px;
    }

    .products-grid {
        width: 35%;
        margin: 0 5px;
        text-align: center;
    }

    .products-grid img {
        width: 50%;
    }

    .shop-more a {
        font-size: 0.9rem;
        padding: 10px 30px;
        margin-bottom: 20px;
    }

    .footer-map {
        margin-right: 15px;
    }

    .footer-box {
        width: 90%;
        margin: auto;

    }
}




@media (max-width: 1199.98px) {

    .hero-box {
        margin-top: 150px;
    }

    .hero-box p {
        font-size: 1.9rem;
    }

    /* PRODUCTS HEADER */

    .products {
        display: block;
        align-items: center;
        width: 80%;
        margin: auto;
        margin-bottom: 80px;
    }

    .products-grid {
        width: 100%;
        margin: 0 5px;
        text-align: center;
    }

    .products-grid img {
        width: 100%;
    }

    .products {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        margin: auto;
        margin-bottom: 80px;
    }

    .products-grid {
        width: 45%;
        margin: 0 5px;
        text-align: center;
    }

    /* .products-grid img{
        width:50%;
    } */

    .shop-more a {
        font-size: 0.9rem;
        padding: 10px 30px;
        margin-bottom: 20px;
    }

    .footer-map {
        margin-right: 15px;
    }

    .footer-box {
        width: 90%;
        margin: auto;

    }
}
@media (max-width: 576px) {
    .mob-nav {
        left: 2rem;
        width: unset;
    }
    .logo img{
        height: 50px;
    }

    .hero-box {
        margin-top: 230px;
    }

    .hero-box p {
        font-size: 1.6rem;
    }

    /* PRODUCTS HEADER */

    .products {
        display: block;
        align-items: center;
        width: 80%;
        margin: auto;
        margin-bottom: 80px;
    }

    .products-grid {
        width: 100%;
        margin: 0 5px;
        text-align: center;
    }

    .products-grid img {
        width: 220px;
    }

    .shop-more a {
        font-size: 0.9rem;
        padding: 10px 30px;
        margin-bottom: 20px;
    }
    .footer-links{
        text-align: center;
    }
}